button {
  border-radius: var(--border-radius-sm);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 800;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0 4px rgb(0, 0, 0);
}

.btn-add {
  background-color: transparent;
  border: 2px solid var(--color-gray-200);
  padding: 0;
  width: 32px;
  height: 32px;
}

.btn-append {
  background-color: var(--color-success);
  margin: .4rem 0;
  border-radius: var(--border-radius-xl);
}

.btn-append:disabled {
  background-color: var(--color-gray-600);
  color: var(--color-gray-900);
}

.btn-attention {
  background-color: var(--color-attention);
}

.btn-category {
  background-color: var(--color-neutral);
  transition: background-color 0.2s ease;
}

.btn-category:focus {
  background-color: var(--color-attention);
}

.btn-checkmark {
  background-color: var(--color-success);
  position: relative;
  border-radius: var(--border-radius-xl);
  width: 16px;
  height: 16px;
}

.btn-neutral {
  background-color: var(--color-neutral);
}

.btn-success {
  background-color: var(--color-success);
}

.btn-confirm {
    color: var(--color-gray-900);
    background-color: var(--color-confirm);
}

.btn-trash {
  background-color: transparent;
  box-shadow: unset;
}