.edit-deck-heading {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.card-count-and-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-background {
    background-color: var(--color-gray-800);
    width: 100%;
    max-width: 525px;
    text-align: center;
    padding: 5rem 0;
    border-radius: var(--border-radius-md);
    margin-top: 2rem;
}

.card-input {
    text-align: center;
    margin: auto;
}

.card-input::placeholder {
    text-align: center;
}

.card-list-item {
    display: flex;
    justify-content: space-between;
}

.under-card {
    display: flex;
    justify-content: space-between;
}